@import url('./fonts.css');

:root {
	--white: #fff;
	--bg: #627aff;
	--bgCard: #f0f2fa;
	--phColor: #525252;
}

* {
	margin: 0;
	padding: 0;
	font-family: Nunito;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}

h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

.heart-icon {
	width: 18px;
}

.times-clicked {
	margin-bottom: 10px;
	opacity: 0.6;
}

.image {
	position: relative;
}

.image .product-image {
	border-radius: 5px;
	width: 300px;
	box-shadow: 0 10px 10px -10px var(--phColor);
}

.image .product-image:hover {
	cursor: pointer;
}

.heart {
	position: absolute;
	left: 35%;
	top: 35%;
	display: none;
	animation: pulse 0.8s ease;
}

.heart img {
	height: 100px;
	width: 100%;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}


@media (max-width:600px) {
	main {
		padding: 0 20px;
	}
}