@import url('./fonts.css');

:root {
	--white: #fff;
	--bg: #627aff;
	--bgBadge: #ffc95f;
	--bgBadgeSelected: #ff6fad;
}

* {
	margin: 0;
	padding: 0;
	font-family: Nunito;
}

body {
	background-color: var(--white);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.searcher {
	min-width: 400px;
	box-shadow: 0 10px 27px -15px #000;
}

.header-searcher {
	background-color: var(--bg);
	padding: 20px;
	border-radius: 10px 10px 0 0;
	color: var(--white);

	display: flex;
	flex-direction: column;
}

.header-searcher p {
	opacity: 0.5;
	margin: 10px 0;
	font-size: 15px;
}

.header-searcher input {
	padding: 10px;
	border: none;
	border-radius: 5px;
	outline: none;
}

.header-searcher input:focus {
	opacity: 0.9;
}

.list-users {
	height: 600px;
	max-height: 500px;
	scroll-behavior: smooth;
	background-color: #f0f0f0;
	overflow-y: auto;
	border-radius: 0 0 10px 10px;
}

.card-user {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 20px;
	border-bottom: 1px solid #c7c7c7;
}

.card-user:hover {
	cursor: pointer;
	background-color: #dadada;
}

.card-user img {
	width: 70px;
	border-radius: 50%;
}

.user-info {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.user-name {
	font-weight: 800;
}

.user-location {
	font-size: 14px;
	opacity: 0.8;
}

footer {
	position: fixed;
	bottom: 0;
	padding: 10px;
}

@media (max-width: 768px) {
	body {
		padding: 0 20px;
	}

	footer {
		text-align: center;
	}
}

@media (max-width:600px) {
	.searcher {
		min-width: 100%;
	}
}
